
<div class="container" align ="center" >
    <h1> Supplier</h1>
    <form>
        <div class ="form-group" align ="center" >
            <label form="prod_id">Prod_id</label><br>
            <input type="text" name="prod_id"  class="form-control">
        </div>
        <pre></pre>
        <div class ="form-group" align ="center" >
            <label form="nameofsupplier">NameOfSupplier</label><br>
            <input type="text" name="nameofsupplier" class="form-control">
        </div>
        <pre></pre>
        <div class ="form-group" align ="center" >
            <label form="delivery_date">Delivery_date</label><br>
            <input type="date" name="delivery_date" class="form-control">
        </div>
        <pre></pre>
        <button class="btn btn-primary" align ="center" type="insert">Insert</button>
    </form>
  </div>