body{
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT94N83HaajNHXZ2Pt0p_Y6PLIHT-RRBPSyfQ&usqp=CAU");
   
    height: 1000px;
    background-size:contain;
    background-position:right;

}