<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1>Registration</h1>
                  <h6>Register yourself !</h6>
              </div>
  
                  <form>
                      <div class="mb-3">
                        <label for="exampleInputUserName" class="form-label">User Name</label><br>

                        <input type="text" class="form-control" id="exampleInputUserName" aria-describedby="UserNameHelp">
                        <div id="UserNameHelp" class="form-text"></div>
                      </div>
                      <div class="mb-3">
                          <label for="exampleInputUserName" class="form-label">phone number</label><br>

                          <input type="number" class="form-control" id="exampleInputUserName" aria-describedby="UserNameHelp">
                          <div id="UserNameHelp" class="form-text">We'll never share your user name with anyone else.</div>
                        </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label><br>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <br>
                      <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <a style="color:rgb(123, 120, 255) ; margin-top: 10px;" routerLink="/login">Already Registered? Click to Login!!</a>
      
          </div>
      </div>
  </div>
</div>