<div class="container" align ="center" >
    <h1> CUSTOMER</h1>
    <form>
        <div class ="form-group" align ="center" >
            <label form="cust_name">Customer Name</label><br>
            <input type="text" name="cust_name"  class="form-control">
        </div>
        <pre></pre>
        <div class ="form-group" align ="center" >
            <label form="address">Address</label><br>
            <input type="text" name="address" class="form-control">
        </div>
        <pre></pre>
        <div class ="form-group" align ="center" >
            <label form="phone_no">Phone No</label><br>
            <input type="text" name="phone_no" class="form-control">
        </div>
        <pre></pre>
        <button class="btn btn-primary" align ="center" type="insert">Insert</button>
    </form>
  </div>
